In [3]:
import pandas as pd
import numpy as np
import os

# Path to your dataset (adjust if needed)
data_path = r"C:\Users\kisho\Downloads\archive\7282_1.csv"

# Auto-detect file type
if not os.path.exists(data_path):
    raise FileNotFoundError(f"File not found: {data_path}")

if data_path.lower().endswith(".csv"):
    df = pd.read_csv(data_path, encoding="utf-8")
else:
    df = pd.read_excel(data_path)

print(f"Loaded dataset with {df.shape[0]} rows and {df.shape[1]} columns.")
df.head()

Loaded dataset with 35912 rows and 19 columns.

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN

In [4]:
print("Basic info:")
df.info()

print("\nMissing values per column:")
display(df.isna().sum().to_frame("missing_values").T)

df.describe(include="all").T.head(10)

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35912 entries, 0 to 35911
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               35912 non-null  object
 1   categories            35912 non-null  object
 2   city                  35912 non-null  object
 3   country               35912 non-null  object
 4   latitude              35826 non-null  float64
 5   longitude             35826 non-null  float64
 6   name                  35912 non-null  object
 7   postalCode            35857 non-null  object
 8   province              35912 non-null  object
 9   reviews.date          35653 non-null  object
 10  reviews.dateAdded     35912 non-null  object
 11  reviews.doRecommend   0 non-null      float64
 12  reviews.id            0 non-null      float64
 13  reviews.rating        35050 non-null  float64
 14  reviews.text          35888 non-null  object
 15  reviews.title         34286 non-null  object
 16  reviews.userCity      16263 non-null  object
 17  reviews.username      35869 non-null  object
 18  reviews.userProvince  17518 non-null  object
dtypes: float64(5), object(14)
memory usage: 5.2+ MB

Missing values per column:

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
missing_values,0,0,0,0,86,86,0,55,0,259,0,35912,35912,862,24,1626,19649,43,18394

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
address,35912,999,480 King St,1185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
categories,35912,396,Hotels,21420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,35912,761,Alexandria,1185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,35912,1,US,35912,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,35826.0,NaN,NaN,NaN,37.285008,6.996544,-25.43675,33.82734,37.936026,41.672491,63.877674
longitude,35826.0,NaN,NaN,NaN,-85.725758,33.062263,-166.55904,-104.8682,-86.822972,-77.04455,115.164407
name,35912,879,"The Alexandrian, Autograph Collection",1185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
postalCode,35857,911,22314,1185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,35912,287,CA,3860,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews.date,35653,3009,2016-07-25T00:00:00Z,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
numeric_df = df.select_dtypes(include=[np.number])
corr_matrix = numeric_df.corr(numeric_only=True)

print("Correlation Matrix (numeric features):")
display(corr_matrix)

# Identify highly correlated pairs
threshold = 0.8
high_corr_pairs = []
for col1 in corr_matrix.columns:
    for col2 in corr_matrix.columns:
        if col1 != col2:
            corr_value = corr_matrix.loc[col1, col2]
            if abs(corr_value) >= threshold:
                high_corr_pairs.append((col1, col2, corr_value))

if high_corr_pairs:
    print("\nHighly correlated pairs (|corr| >= 0.8):")
    for col1, col2, val in high_corr_pairs:
        print(f"{col1} ↔ {col2} = {val:.2f}")
else:
    print("\nNo highly correlated numeric pairs above the threshold.")

Correlation Matrix (numeric features):

,latitude,longitude,reviews.doRecommend,reviews.id,reviews.rating
latitude,1.000000,0.002512,NaN,NaN,0.004057
longitude,0.002512,1.000000,NaN,NaN,0.064298
reviews.doRecommend,NaN,NaN,NaN,NaN,NaN
reviews.id,NaN,NaN,NaN,NaN,NaN
reviews.rating,0.004057,0.064298,NaN,NaN,1.000000

No highly correlated numeric pairs above the threshold.

In [8]:
target = "overall_rating"
interesting_patterns = []

if target in df.columns:
    categorical_cols = df.select_dtypes(include=["object", "category"]).columns
    print(f"Grouped summaries (mean/median of '{target}' by category):\n")

    for col in categorical_cols:
        if df[col].nunique() < 50:
            grouped = (
                df.groupby(col)[target]
                .agg(["mean", "median", "count"])
                .sort_values("mean", ascending=False)
            )
            display(grouped.head(10))

            # Capture a quick insight
            top_val = grouped.index[0]
            top_mean = grouped.iloc[0]["mean"]
            interesting_patterns.append(
                f"Hotels with '{col} = {top_val}' have the highest mean overall_rating ({top_mean:.2f})."
            )
else:
    print(f"Target column '{target}' not found in dataset.")

Target column 'overall_rating' not found in dataset.

In [9]:
leakage_flags = []
keywords = ["rating", "score", "rank", "review", "star", "outcome", "target"]

for col in df.columns:
    if any(k in col.lower() for k in keywords) and col != target:
        leakage_flags.append(col)

if leakage_flags:
    print("Potential leakage variables (possibly derived from target):")
    for col in leakage_flags:
        print(f"- {col}")
        interesting_patterns.append(
            f"Column '{col}' may leak information about the target variable '{target}'."
        )
else:
    print("No clear leakage variables detected by keyword heuristic.")

Potential leakage variables (possibly derived from target):
- reviews.date
- reviews.dateAdded
- reviews.doRecommend
- reviews.id
- reviews.rating
- reviews.text
- reviews.title
- reviews.userCity
- reviews.username
- reviews.userProvince

In [10]:
print("Summary of Interesting Patterns Found:\n")
if interesting_patterns:
    for i, summary in enumerate(interesting_patterns, 1):
        print(f"{i}. {summary}")
else:
    print("No major patterns identified — review data may be too sparse or noisy.")

Summary of Interesting Patterns Found:

1. Column 'reviews.date' may leak information about the target variable 'overall_rating'.
2. Column 'reviews.dateAdded' may leak information about the target variable 'overall_rating'.
3. Column 'reviews.doRecommend' may leak information about the target variable 'overall_rating'.
4. Column 'reviews.id' may leak information about the target variable 'overall_rating'.
5. Column 'reviews.rating' may leak information about the target variable 'overall_rating'.
6. Column 'reviews.text' may leak information about the target variable 'overall_rating'.
7. Column 'reviews.title' may leak information about the target variable 'overall_rating'.
8. Column 'reviews.userCity' may leak information about the target variable 'overall_rating'.
9. Column 'reviews.username' may leak information about the target variable 'overall_rating'.
10. Column 'reviews.userProvince' may leak information about the target variable 'overall_rating'.